

.button {
    height: 50px;
    width: 175px;
    background-color: black;
    color: whitesmoke;
    font-size: 15px;
}

.dice {
    border: 5px solid red;
    height: 65px;
    width: 65px;
    float: left;
    text-align: center;
    line-height: 20px;


}